.personaldetails-section {
  background-color: #071032;
  width: 100%;
  max-width: 900px;
  margin: auto;
  padding: 30px;
  border-radius: 10px;
  color: #fff;
  overflow-y: auto;
}

.employee-form {
  border: 2px solid #071032;
  padding: 25px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
}

.heading {
  text-align: center;
  color: #fff;
  text-decoration: underline yellow !important;
  margin-bottom: 20px;
}

label {
  color: white;
  font-weight: 600;
  font-size: 14px;
}

input,
select {
  width: 100%;
  padding: 8px 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 14px;
  margin-bottom: 12px;
}

.email-row {
  display: flex;
  gap: 8px;
}

.verify-btn {
  background-color: #04c011  !important;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  white-space: nowrap;
}

.verify-btn:disabled {
  background-color: #4c4c4c;
  cursor: not-allowed;
  color: #ccc;
}

.file-list {
  margin-top: 5px;
  list-style: none;
  padding-left: 0;
}

.file-list li {
  font-size: 13px;
  color: #04c011  !important;
}

.otp-section label {
  display: block;
  margin-bottom: 5px;
}

.otp-inline {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
}

.otp-inline input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.otp-verify {
  background-color: #04c011  !important;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  font-weight: 600;
  color: #001542;
  cursor: pointer;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.action-group {
  display: flex;
  gap: 12px;
}

.back-btn {
  background-color: #fff  !important;
  border: 1px solid #001542;
  color: #001542 !important;
  padding: 8px 16px;
  border-radius: 6px;
}

.sub-btn {
  background-color: #04c011 !important;
  color: white;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
}

.next-btn {
  background-color:#04c011 !important ;
  color: white;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
}

@media (max-width: 768px) {
  .email-row {
    flex-direction: column;
  }

  .otp-inline {
    flex-wrap: wrap;
    justify-content: center;
  }

  .personaldetails-section {
    padding: 15px;
  }

  .form-actions {
    flex-direction: column;
    gap: 12px;
  }

  .action-group {
    flex-direction: column;
    gap: 8px;
  }
}
