.hero-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  text-align: center;
  padding: 0 1.5rem;
}


.hero-heading {
  font-size: 2.8rem;
  line-height: 1.3;
  margin: 15px 0;
}

.hero-subtext {
  font-size: 1.1rem;
  line-height: 1.6;
  max-width: 700px;
  margin: 0 auto 25px;
}


.hero-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.custom-btn12,
.custom-border-btn {
  min-width: 160px;
  padding: 10px 22px;
  border-radius: 50px !important;
  font-weight: 600;
  font-size: 15px;
  transition: all 0.3s ease;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.custom-btn12 {
  border: none;
  background-color: #061657 !important;
  color: #fff !important;
}

.custom-btn12:hover {
  background-color: #00b050 !important;
  color: white !important;
  transform: scale(1.05);
}


.custom-border-btn {
  border: 2.5px solid white !important;
  background-color: transparent !important;
  color: white !important;
}

.custom-border-btn:hover {
  background-color: white !important;
  color: #061657 !important;
  transform: scale(1.05);
}

span {
  /* color: #f6ff00; */
}


@media (max-width: 992px) {
  .hero-heading {
    font-size: 2.3rem;
  }

  .hero-subtext {
    font-size: 1rem;
    max-width: 600px;
  }

  .custom-btn12,
  .custom-border-btn {
    min-width: 150px;
    padding: 9px 20px;
    font-size: 14px;
  }
}


@media (max-width: 768px) {
  .hero-content {
    top: 50%;
    padding: 0 1rem;
  }

  .hero-heading {
    font-size: 1.9rem;
  }

  .hero-subtext {
    font-size: 0.95rem;
    max-width: 90%;
  }

  .hero-buttons {
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
  }

  .custom-btn12,
  .custom-border-btn {
    min-width: 150px;
    padding: 9px 18px;
    font-size: 13.5px;
  }
}


@media (max-width: 480px) {
  .hero-container {
    height: 100vh;
  }

  .hero-heading {
    font-size: 1.6rem;
  }

  .hero-subtext {
    font-size: 0.9rem;
    padding: 0 10px;
  }

  .hero-buttons {
    flex-direction: column;
    gap: 0.7rem;
  }

  .custom-btn12,
  .custom-border-btn {
    min-width: 135px;
    padding: 8px 16px;
    font-size: 12.5px;
  }
}


@media (max-width: 360px) {
  .hero-heading {
    font-size: 1.4rem;
  }

  .hero-subtext {
    font-size: 0.85rem;
  }

  .custom-btn12,
  .custom-border-btn {
    min-width: 120px;
    padding: 7px 14px;
    font-size: 12px;
  }
}
