.name {
    width: 300px !important;
    height: 50px !important;
    border-radius: 15px;
}

.password{
      width: 300px;
    height: 50px;
    border-radius: 15px;
}

.image{
    width: 100%;
    height: auto;
}

.btn1{
    background-color: #1e1ecb;
    color: white;
}

.btn2{
      width: 300px;
    height: 50px;
    border-radius: 15px;
    font-weight: 400;
}

form img{
    margin: 10px;
}

.check{
    width: 30px;
    height: 30px;
}

.discription{
    font-size: larger;
    font-weight: 500;
}

.card-body{
    margin: 2cm;
}



.role-icon {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
  opacity: 60%;
}

.role-icon:hover {
  transform: scale(1.1);
 opacity: 100%;
}

.card {
  background-color: #fff;
}

.btn1, .btn2 {
  border-radius: 30px;
  
}

.card-title{
    color: #051E83 !important;
}

.forget{
    color: red !important;
}

.role-option {
  position: absolute;
  display: inline-block;
}

.role-icon {
  /* width: 80px;
  height: 80px; */
  border-radius: 10px;
  object-fit: cover;
  border: 2px solid transparent;
  transition: border-color 0.2s ease, transform 0.2s ease;
}



.role-radio {
  position: absolute;
  top: 1px;
  right: 1px;
  accent-color: #007bff; 
  width: 18px;
  height: 18px;
  cursor: pointer;
}




@media (max-width: 768px) {
  .vh-100 {
    height: auto !important;
    padding: 40px 0;
  }
}




