
.student-wrapper {
  min-height: 100vh;
  background: #071032;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: "Poppins", sans-serif;
}


.student-card {
  background: #071032;
  border: 2px solid #f5d50d;
  border-radius: 12px;
  padding: 25px;
  width: 90%;
  max-width: 420px; 
  box-shadow: 0 0 12px rgba(245, 213, 13, 0.4);
}


.step-progress {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 8px;
}

.step {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #1abc9c;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step.active {
  background: #f00;
}

.line {
  width: 60px;
  height: 3px;
  background: #fff;
}

.step-labels {
  display: flex;
  justify-content: space-between;
  color: #f5d50d;
  font-size: 14px;
  width: 250px;
  margin-bottom: 25px;
}


.student-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}


.back-btn {
  background-color: #fff;
  color: #071032;
  font-weight: 600;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px 18px;
  cursor: pointer;
  transition: all 0.3s;
}

.back-btn:hover {
  background-color: #f5d50d;
  color: #071032;
  border-color: #f5d50d;
}


.student-btn {
  background-color: #00c853;
  color: #fff;
  font-weight: 600;
  border: none;
  padding: 8px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.student-btn:hover {
  background-color: #009624;
}


@media (max-width: 600px) {
  .student-card {
    width: 95%;
    padding: 20px;
  }

  .step-labels {
    width: 220px;
    font-size: 13px;
  }

  .student-buttons {
    flex-direction: column;
    gap: 10px;
  }

  .back-btn,
  .student-btn {
    width: 100%;
    text-align: center;
  }
}
